{# Main page #}
{% extends "base.html" %}

{% block head %}
<title>Seadrop</title>
{% endblock %}

{% block top %}
{% endblock %}

{% block content %}
<p>Join Session</p>
<div>
    <form action="{{ url_for('index') }}", method="POST">
        {% if 'uname' in session and session['uname'] %}
        <p>username</p><input type="text" name="user-name" value="{{session['uname']}}">
        {% else %}
        <p>username</p><input type="text" name="user-name">
        {% endif %}
        <p>session</p><input type="text" name="session">
        <button type="submit">Join</button>
    </form>
</div>

{% endblock %}