{# Page for the session #}
{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/usercolours.css') }}">

{# 
User's personal style
Adds (you) after all tagged instances of the username 
#}
<style>
.usertitle[usr='{{uname}}']::after {
  content: " (you)";
  font-weight: 100;
}
</style>

{% endblock %}

{% block top %}
{# TODO: eliminate JQuery #}
<script>

// This is silly but it makes the highlighting work
var maxsize = parseInt('{{ config["MAX_CONTENT_LENGTH"] }}');

function drophandler(e) {
  e.preventDefault();
  let files = e.dataTransfer.files;
  if (files.length) { file_upload(files[0]); }
};

function draghandler(e) {
  e.preventDefault();
};

function file_upload(f) {
  if (f.size > maxsize) {
    alert("File is too large (Max is 1GB)")
    return;
  }

  let formData = new FormData();
  formData.append('file', f);

  let xhr = new XMLHttpRequest();
  xhr.open('POST', '{{ url_for("upload", room_name=room_name) }}');
  xhr.send(formData);
}

function make_id_safe(id) { 
  return 'file_' + id.replaceAll(/[\(\). ]/g, '_');
}

function form_submit(e) {
  e.preventDefault()
  var f = $('#fupload').prop('files')
  if (f.length) { file_upload(f[0]) }
} 

$(document).ready( () => {
  var socket = io()
  socket.on('connect', function () {
    socket.emit('join', '{{ room_name }}');
  });

  socket.on('add_file', msg => {
    console.log('upload');
    console.log(msg);
    $('#' + msg.sender + '_fileinfo').append(
      '<p id="' + make_id_safe(msg.file) + '"><a target="_blank" rel="noopener noreferrer" href="' + msg.url + '">' + msg.file + '</a><br>' +
      'from: ' + msg.sender + ', type: ' + msg.f_type + ', size: ' + msg.f_size + '</p>'
    );
  });

  socket.on('remove_file', msg => {
    console.log('download');
    console.log(msg);
    $('#' + make_id_safe(msg.file)).remove();
  });

  socket.on('ujoin', msg => {
    $('#usr-count').text(msg.count);
    $('#usr-list').append(
      '<div id="' + msg.uname + '_fileinfo" ucol="' + msg.colour + '">' +
      '<p class="usertitle" usr="' + msg.uname + '">' + msg.uname + '</p>' +
      '</div>')
  });

  socket.on('uleave', msg => {
    $('#usr-count').text(msg.count);
    $('#' + msg.uname + '_fileinfo').remove();
  });

  socket.on('recivemsg', msg => {
    $('#chatzone').append(
      '<p><span class="usertitle" usr="' + msg.sender + '">' + msg.sender + ' </span>' + msg.content
    );
  });

  $('#sendmsg').click( () => {
    var usermsg = $('#chatmsg').val();
    console.log(usermsg);
    socket.emit('sendmsg', usermsg);
    $('#chatmsg').val('');
  });

  $('#leaveroom').click( () => {
    socket.emit('leave', '{{ room_name }}')
    window.location.replace('{{ url_for("index") }}')
  })

  $('#chatmsg').keypress( e => {
    if(e.keyCode==13) { $('#sendmsg').click() }
  });

});

</script>
{% endblock %}

{% block content %}
<div id="superzone" class="row" ondrop="drophandler(event);" ondragover="draghandler(event);">
  <div class="lhs">
    <button id="leaveroom">Leave Room</button>
    <p>In session: <span id="usr-count">0</span></p>
    <div id="usr-list">
    {% for user in ulist %}
      <div id="{{ user.uname }}_fileinfo" ucol="{{ user.colour }}">
        <p class="usertitle" usr="{{ user.uname }}">{{ user.uname }}</p>
      </div>
    {% endfor %}
    </div>
  </div>
  <div class="rhs">
    <div id="chatzone"></div>
    <div id="chatcontrol">  
      <input id="chatmsg" type="text">
      <button id="sendmsg" >send</button>
    </div>
  </div>
</div>
{% endblock %}